@page
@model DrugPrevention.RazorWebApp.QuangTNV.Pages.UserCoursesQuangTnvs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserCoursesQuangTnv</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserCoursesQuangTnv.UserId" class="control-label"></label>
                <select asp-for="UserCoursesQuangTnv.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserCoursesQuangTnv.CourseId" class="control-label"></label>
                <select asp-for="UserCoursesQuangTnv.CourseId" class ="form-control" asp-items="ViewBag.CourseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserCoursesQuangTnv.CompletionDate" class="control-label"></label>
                <input asp-for="UserCoursesQuangTnv.CompletionDate" class="form-control" />
                <span asp-validation-for="UserCoursesQuangTnv.CompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCoursesQuangTnv.Score" class="control-label"></label>
                <input asp-for="UserCoursesQuangTnv.Score" class="form-control" />
                <span asp-validation-for="UserCoursesQuangTnv.Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCoursesQuangTnv.CertificateUrl" class="control-label"></label>
                <input asp-for="UserCoursesQuangTnv.CertificateUrl" class="form-control" />
                <span asp-validation-for="UserCoursesQuangTnv.CertificateUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCoursesQuangTnv.LastAccessDate" class="control-label"></label>
                <input asp-for="UserCoursesQuangTnv.LastAccessDate" class="form-control" />
                <span asp-validation-for="UserCoursesQuangTnv.LastAccessDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCoursesQuangTnv.Feedback" class="control-label"></label>
                <input asp-for="UserCoursesQuangTnv.Feedback" class="form-control" />
                <span asp-validation-for="UserCoursesQuangTnv.Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCoursesQuangTnv.Rating" class="control-label"></label>
                <input asp-for="UserCoursesQuangTnv.Rating" class="form-control" />
                <span asp-validation-for="UserCoursesQuangTnv.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
